<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125091434839-3tp3vi14h41vbsv7i6vf8u76g4gd1u08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125091434839-3tp3vi14h41vbsv7i6vf8u76g4gd1u08</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125091434839-0i1bbd1m2nt8dja377sdahust5ckoh9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcxM4XAF8zLgOyj0wBmkCKBiEylzmwZ7o</string>
	<key>GCM_SENDER_ID</key>
	<string>125091434839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pe.edu.lasalle.asistenciapersonal</string>
	<key>PROJECT_ID</key>
	<string>asistencia-personal-b0674</string>
	<key>STORAGE_BUCKET</key>
	<string>asistencia-personal-b0674.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125091434839:ios:887f0aad8440dab84a2e12</string>
</dict>
</plist>